<!DOCTYPE html>
<html lang="{{g.language}}">
<head>
  <title>Ardoise</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/website.css') }}">
</head>
<body>
  <section id="menu">
    <nav>
    <ul>
      <li><a href="{{url_for('index')}}">Accueil</a></li>
      <li><a href="{{url_for('stats')}}">Statistiques</a></li>
      <li><a href="{{url_for('faq')}}">F.A.Q.</a></li>
      <li><a href="{{url_for('about')}}">À propos</a></li>
    </ul>
    </nav>
  </section>

  {% block main %}{% endblock %}

  <footer>Powered by Ardoise v{{config.version}}</footer>
</body>
</html>
