{% extends "base.html" %}

{% block main %}
<div>
    <h1>Génération du site web</h1>
    <section id="logs">
        <p>En attente d'une place dans la file d'attente.</p>
    </section>
</div>

<script>
const xhttp = new XMLHttpRequest();
let stopRefresh = false;

xhttp.onload = function() {
    var json = JSON.parse(this.responseText);
    if (json.logs.length > 0) {
        document.getElementById("logs").innerHTML = "";
        for (let index = 0; index < json.logs.length; ++index) {
            document.getElementById("logs").innerHTML += "<p>"+ json.logs[index] + "</p>";
        }
    }
    stopRefresh = json.stop;
}

function retrieve_state() {
    if (stopRefresh) {
        // Do something ?
    } else {
        xhttp.open("GET", "/state/{{token}}");
        xhttp.send();
        window.setTimeout(retrieve_state, 5000);
    }
}

window.setTimeout(retrieve_state);
</script>
{% endblock %}