{% extends "base.html" %}

{% block main %}
  <a name="top"></a>
  <div id="toc">
    <nav>
    <ul>
      <li><a href="#economic">Modèle économique du projet</a></li>
      <li><a href="#rights">Droits et obligations</a></li>
      <li><a href="#limitations">Limitations fonctionnelles et techniques</a></li>
      <li><a href="#technic">Fonctionnement technique</a></li>
    </ul>
    </nav>
  </div>

  <section id="faq">
    <hr />
    <a name="economic"></a>
    <h1>Modèle économique du projet</h1>

    <h2>Mode sans inscription</h2>
    <p>
    Ardoise est gratuit et ne nécessite pas d'inscription. Vous fournissez simplement
    l'URL d'un dépôt et le site est publié.
    </p>
    <a href="#top">(remonter)</a>

    <h2>Puis-je faire un don au projet ?</h2>
    <p>
    Bien entendu, car l'outil repose uniquement sur les dons des personnes au projet. Un
    moyen de faire des dons sera mis à disposition dès que possible. Pour le moment,
    l'équipe seule prend en charge la totalité des frais.
    </p>
    <a href="#top">(remonter)</a>

    <h2>Les charges financières sont-elles publiques ?</h2>
    <p>
    Afin d'être totalement transparent, le projet Ardoise publie ses comptes. Vous
    pouvez trouver ceux-ci en ligne ou les télécharger (format PDF).
    </p>
    <a href="#top">(remonter)</a>

    <h2>J'ai besoin de publier mon site plus de 3 mois !</h2>
    <p>
    La limite des 3 mois s'entend depuis la dernière génération/publication. Si un site
    est resoumis dans les 3 mois (avant sa suppression donc), sa date limite est
    repoussée d'autant.
    </p>
    <p>
    Il est donc possible de maintenir son site publié en le mettant régulièrement à
    jour.
    </p>
    <a href="#top">(remonter)</a>

    <h2>J'ai besoin de statistiques pour mon site</h2>
    <p>
    Il est prévu un système d'inscription qui permettra l'affichage de statistiques
    basiques (c'est à dire qui respecteront le RGPD).
    </p>
    <a href="#top">(remonter)</a>

    <h2>J'ai besoin de pouvoir automatiser la publication de mon site</h2>
    <p>
    Il est prévu un système d'inscription qui permettra une conservation du site sans
    suppression ainsi que des mises à jours automatiques via un système de hooks depuis
    le dépôt.
    </p>
    <a href="#top">(remonter)</a>

    <h2>J'ai besoin d'autre chose</h2>
    <p>
    L'ajout de ces fonctionnalités se fera au fur et à mesure et dépendra, bien
    évidemment, du temps libre de l'équipe pour développer et tester celles-ci.
    </p>
    <a href="#top">(remonter)</a>


    <hr />
    <a name="rights"></a>
    <h1>Droits et obligations</h1>

    <h2>Que puis-je publier d'un point de vue légal ?</h2>
    <p>
    Ardoise s'interdit de publier tout site contrevenant à la loi française (<a
    href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000801164/2023-10-29/">Loi
    n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique</a>) comme
    les sujets suivants :
    <ul>
        <li>L'apologie, la négation ou la banalisation des crimes contre l'humanité,</li>
        <li>La provocation à la commission d'actes de terrorisme et de leur apologie,</li>
        <li>L'incitation à la haine raciale, à la haine à l'égard de personnes à raison
        de leur sexe, de leur orientation sexuelle, de leur identité de genre ou de leur
        handicap,</li>
        <li>La pornographie enfantine,</li>
        <li>L'incitation à la violence, notamment l'incitation aux violences sexuelles
        et sexistes,</li>
        <li>Les atteintes à la dignité humaine,</li>
    </ul>
    </p>
    <p>
    Tout site pourra être dépublié et se voir interdire toute republication dès lors
    qu'il contrevient à ce point.
    </p>
    <p>
    Bien que des idées politiques puissent être formulées sur les sites publiés, Ardoise
    n'est en aucun cas lié à ces idées.
    </p>
    <a href="#top">(remonter)</a>


    <hr />
    <a name="limitations"></a>
    <h1>Limitations fonctionnelles et techniques</h1>

    <h2>Limitations techniques</h2>
    <p>
    Les limitations techniques sont actuellement les suivantes :
    <ul>
        <li>Le site généré ne doit pas faire plus de 100 Mo tout compris,</li>
        <li>La génération du site statique ne doit pas prendre plus de 10 minutes,</li>
        <li>Un même site ne peut être mis à jour que 3 fois par jour,</li>
    </ul>
    </p>
    <p>
    Ces limitations s'entendent à l'instant présent et seront amenées à évoluer dans le
    temps suivant les moyens mis à disposition par Ardoise. Il s'agit typiquement de
    l'espace disque et de la puissance de calcul utilisée mis en balance avec les dons
    qui permettront de fournir plus de souplesse aux utilisateurs.
    </p>
    <a href="#top">(remonter)</a>

    <h2>Ardoise me signale que mon nom de dépôt est déjà pris</h2>
    <p>
    Si un site a déjà été publié avec le même nom de dépôt que le vôtre, votre site se
    verra attribuer un nom avec un numéro incrémenté selon le principe du "premier
    arrivé, premier servi".
    </p>
    <p>
    Si ce premier site vient à disparaitre (limite des 3 mois), alors vous pourrez
    prendre sa place.
    </p>
    <a href="#top">(remonter)</a>

    <h2>Puis-je publier mon site sous mon propre nom de domaine ?</h2>
    <p>
    Oui, pour cela il suffit de créer un fichier texte contenant simplement le nom de
    domaine pour lequel le site doit répondre. Ce fichier doit s'appeler "CNAME" et être
    situé à la racine de votre dépôt.
    </p>
    <p>
    Dans ce cas, le nom du dépôt ne sera pas bloqué (ou bloquant) pour les autres
    utilisateurs.
    </p>
    <a href="#top">(remonter)</a>


    <hr />
    <a name="technic"></a>
    <h1>Fonctionnement technique</h1>

    <h2>Comment ça se passe, étape par étape ?</h2>
    <p>
    Tout d'abord, Ardoise va analyser l'URL du dépôt afin d'en déduire quel gestionnaire
    de code source est utilisé.
    </p>
    <p>
    Puis, Ardoise va télécharger la dernière version du dépôt fourni et uniquement sa
    branche principale.
    </p>
    <p>
    Ensuite, certains fichiers sont recherchés, voire analysés, afin de tenter d'en
    déduire quel outil de génération et quelle version doit être utilisée pour
    construire le site web.
    </p>
    <p>
    Suivant l'outil utilisé, Ardoise peut avoir besoin de récupérer des composants
    externes ou la bonne version de l'outil.
    </p>
    <p>
    Une fois la génération terminée, les fichiers sont copiés à un emplacement
    spécifique pour publication.
    </p>
    <p>
    Un fichier de configuration technique du domaine est généré et mis en place sur le
    système.
    </p>
    <p>
    La liste des sous-domaines connus est rafraichie.
    </p>
    <p>
    Le site est désormais publié !
    </p>
    <p>
    Le dépôt précédemment téléchargé et tous les artefacts créés sont détruits.
    </p>
    <a href="#top">(remonter)</a>


  </section>
{% endblock %}
