{% extends "base.html" %}

{% block main %}
  <section id="stats">
    <h1>Statistiques</h1>
    <p>
      Statistiques pour les dernières 24 heures :
      <div id="chart_1">
        <canvas id="hoursChart"></canvas>
      </div>
    </p>
    <p>
      Statistiques pour les 30 derniers jours :
      <div id="chart_2">
        <canvas id="daysChart"></canvas>
      </div>
    </p>
  </section>

  <script src="{{ url_for('static', filename='js/chart.umd.js') }}"></script>
  <script>
  const ctx_hours = document.getElementById("hoursChart");

  new Chart(ctx_hours, {
    type: "bar",
    data: {
      labels: [{%for stat in g.hours_stats%}"{{stat.hour}}", {%endfor%}],
      datasets: [
        {
          label: "Nombre de sites publiés",
          data: [{%for stat in g.hours_stats%}"{{stat.websites}}", {%endfor%}],
          yAxisID: "y",
          order: 0,
        },
        {
          label: "Taille des sites publiés (in MB)",
          data: [{%for stat in g.hours_stats%}"{{stat.websites_size}}", {%endfor%}],
          type: "line",
          pointStyle: false,
          yAxisID: "y1",
        }
      ]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          type: 'linear',
          display: true,
          position: 'left',
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          // grid line settings
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          }
        }
      }
    }
  });

  const ctx_days = document.getElementById("daysChart");

  new Chart(ctx_days, {
    type: "bar",
    data: {
      labels: [{%for stat in g.days_stats%}"{{stat.day}}", {%endfor%}],
      datasets: [
        {
          label: "Nombre de sites publiés",
          data: [{%for stat in g.days_stats%}"{{stat.websites}}", {%endfor%}],
          yAxisID: "y",
          order: 0,
        },
        {
          label: "Taille des sites publiés (in MB)",
          data: [{%for stat in g.days_stats%}"{{stat.websites_size}}", {%endfor%}],
          type: "line",
          pointStyle: false,
          yAxisID: "y1",
        }
      ]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          type: 'linear',
          display: true,
          position: 'left',
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          // grid line settings
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          }
        }
      }
    }
  });
  </script>
{% endblock %}
